.slide {
  position: relative;
}

.btn-shoping-now{
  position: absolute;
  top: 80%;
  right: 45%;
}

.topproduct {
  padding-top: 30px;
}

.shopnow{
  font-size: 14px;
}

.seedetail{
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.a-color{
  color: black;
}

@media screen and (max-width: 800px) {
  .btn-shoping-now{
    top: 80%;
    right: 40%;
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .btn-shoping-now{
    top: 75%;
    right: 40%;
    font-size: 10px;
  }
  .shopnow{
    font-size: 10px;
  }
  .seedetail{
    font-size: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .shopnow{
    font-size: 9px;
  }
  .seedetail{
    font-size: 9px;
  }
}


@media screen and (max-width: 991px) {
  .shopnow{
    font-size: 12px;
  }
  .seedetail{
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .shopnow{
    font-size: 11px;
  }
  .seedetail{
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .shopnow{
    font-size: 12px;
  }
  .seedetail{
    font-size: 12px;
  }
}
