.slide {
  position: relative;
}

.btn-shoping-now{
  position: absolute;
  top: 80%;
  right: 45%;
}

.topproduct {
  padding-top: 30px;
}

.shopnow{
  font-size: 14px;
}

.seedetail{
  font-size: 14px;
}

.add-items{
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.a-color{
  color: black;
}

.page-product {
  width: 100%;
  background-color: #f5f5f5;
}

.catelink{
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.item-info{
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

.quantity-text{
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.imgreview{
  padding-right: 10px;
  border-right: 1px solid rgba(0,0,0,.14);
  display: flex;
  align-items: center;
}

.review{
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(0,0,0,.14);
  display: flex;
  align-items: center;
}

.sold{
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.row2{
  margin-top: 16px;
}

.row3{
  margin-top: 16px;
  color: red;
}

.row4{
  margin-top: 16px;
}

.row5{
  margin-top: 16px;
}

.row6{
  margin-top: 30px;
  padding: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
}

.item-desc{
  margin-top: 16px;
}

.input-item{
  height: 32px;
  width: 35px;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.09);
}

.quantity{
  width: 50px;
  height: 32px;
  text-align: center;
  box-sizing: border-box;
}

.item-desc-left{
  padding-top: 16px;
  border-right: 1px solid rgba(0,0,0,.14);
  background-color: white;
}

.item-desc-right{
  padding-top: 16px;
  background-color: white;
}

/* css for slick */

.slider-for{
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	-webkit-box-shadow: 0 5px 3px rgba(3,3,3,.16);
}
.slider-for img, .slider-nav img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
	width: 100%;
	margin: auto;
	padding: 15px 0px 0px 0px;
	display: block;
}
.slider-nav .item {
	margin: auto 17px;
	border: solid #f5f5f5;

}
.slider-nav .slick-track{
	height: 100%;
}
.slick-arrow{
		position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
}
.slick-prev{
	left: 0px;
}
.slick-next{
	right: 0;
}

/* end slick */

.head-table{
  display: flex;
  justify-content: space-between;
  margin: 15px auto 0px auto;
}

@media screen and (max-width: 800px) {
  .btn-shoping-now{
    top: 80%;
    right: 40%;
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .btn-shoping-now{
    top: 75%;
    right: 40%;
    font-size: 10px;
  }
  .shopnow{
    font-size: 10px;
  }
  .seedetail{
    font-size: 10px;
  }
  .add-items{
    font-size: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .shopnow{
    font-size: 9px;
  }
  .seedetail{
    font-size: 9px;
  }
  .add-items{
    font-size: 9px;
  }
}


@media screen and (max-width: 991px) {
  .shopnow{
    font-size: 12px;
  }
  .seedetail{
    font-size: 12px;
  }
  .add-items{
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .shopnow{
    font-size: 11px;
  }
  .seedetail{
    font-size: 11px;
  }
  .add-items{
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .shopnow{
    font-size: 12px;
  }
  .seedetail{
    font-size: 12px;
  }
  .add-items{
    font-size: 12px;
  }
}
